/*

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
*/
root { 
    display: block;
}

html {
height: 100%;
}


body {
    /*
    background-image: url("fundo1.png");
    background-repeat: repeat-xy;
    background-position: center center;
   
   */  
background: url(fundo4.jpg) no-repeat;
background-size: 100%;
  
    margin: 0px;
    padding: 0px;
    height: 100%;
    
}

#showRight{
    
    border-bottom: 1px;
    border-left: 1px;
    border-right: 0px;
    border-top: 1px;
    border-style: solid;
    border-color: #fff;

    background: url(back8.png)repeat;
    box-shadow: inset 0px 0px 10px #000;
    position: absolute;
    left: -60px;
    width: 60px;
    height: 105px;
    padding-top: 35px;
    background-color: #4A926F;
    color: #fff;
    text-align:center;
    vertical-align: middle;
    font-weight: bold;
    
    
    
    
 
}
.esquerda{
   background: url(back8.png)repeat;
   
   box-shadow: inset 0px 10px 30px #000;
    width: 27%;
    min-height: 100%;
    float: left;
    margin-left: 290px;
    
    
    /*
     background: url(back.png)repeat;
     border-width: 0px 1px 0px 1px;
    border-style: solid;
    border-color: #71b694;
    */
   color: #FFF;
    text-align: center;
   
}

.cima{
   
    background: url(back7.png)repeat;
    width: 100%;
    min-height: 40%;
    padding-top: 55%;
    
}

.caracter{

color: #33f;    
     
}

.titulo1{
    
    color: #FFF;
    FONT: 11px Verdana, Arial, Helvetica, sans-serif;
    font-size: 25px;
    /*
    font-family: monospace;
    font-weight: bold;
    */
    
}

.titulo2{
    
    color: #71b694;
    font-family: monospace;
    font-size: 20px;
}

i:hover{
    
}

.login{
  
    
    padding-left: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-style: solid;
    border-color: #bdd6ca;
    
    display: none;
    
    border-style: solid;

}