/* 
    Document   : estilo
    Created on : 24/05/2013, 20:10:33
    Author     : EduardoNote
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



root { 
    display: block;
}

.caixa{
    
    background-color: #efe;
    border-radius: 2px;
    
}

.caixa:hover{
    
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 1px 3px 5px #eee;
}
