/* General styles for all menus */
.cbp-spmenu {
	background: #fff;
	position: fixed;
           
}

.cbp-spmenu h3 {
    
        background: url(../back8.png)repeat;
	color: #FFF;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
        box-shadow: inset 0px 0px 10px #000;
	
}

.cbp-spmenu a {
	display: block;
	color: #4A926F;
	font-size: 1.1em;
	font-weight: 300;       
        
}



.cbp-spmenu a:hover {
	background: #BDD6CA;
        text-decoration: none;
        color: #FFF;
        box-shadow: inset 0px 0px 15px #CEE7DB;
        
}

.cbp-spmenu a:active {
	background: #3A00E0;
	color: #FFF;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    border-bottom: 0px;
    border-left: 1px;
    border-right: 0px;
    border-top: 0px;
    border-style: solid;
    border-color: #4A926F;
	width: 20%;
	height: 100%;
	top: 0;
	z-index: 1000;
        
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #BDD6CA;
	padding: 1em;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -20%;
}

.cbp-spmenu-right {
	right: -20%;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}